$barwid: 250px;
$leftoff: 50px;

// html {
//     //scroll-behavior: smooth;
//     //overflow-x: hidden;
//     background-color: rgba(0, 0, 0, 1);
//     margin-left: 0;
//     margin-top: 0;
//     overflow-x: hidden;
// }

body {
    background-color: rgba(0, 0, 0, 1);
    //background-image: url("https://vishnubanna.github.io/src/purdue.jpeg");
    margin-left: 0;
    margin-top: 0;
    //overflow-y: hidden;
}

.sidebar {
    background-color: rgba(0, 0, 0, 1);
    width: $barwid;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: table;
}

.cont{
    display: table-cell;
    vertical-align: middle;
    
}

.imgs{
    position: relative;
    z-index: 10;
}

.links{
    font-family: 'Saira', sans-serif;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.links a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.2s;
    font-size: medium;
    font-weight: 500;
}

.links a:hover{
    font-size: large;
    font-weight: 700;
}

.imgs img{
    display: block;
    margin: 0 auto;
    position: relative;
    align-self: center;
    width: $barwid - 20px;
    max-width: 230px;
    border-radius: 50%;
    border: solid;
}



.active{
    transform: scale(1.4);
    //background-color: rgba(0, 0, 0, 0.5);
    //background-color: blue($color: #0026ff);
}



.name {
    font-family: 'Saira', sans-serif;
    //background-color: black;
    text-align: left;
    height: 100%;//732;
    margin-bottom: 0px;
    display: table;
    z-index: 9;
}

#title{
    color: white;
    font-size: 86;
    font-weight: 200;
    margin-top: 0px;
    padding-bottom: 0px;
    min-height: 70px;
    //color: rgba(0, 114, 207, 0.856);
}

#email{
    text-decoration: none;
    color: white;
}

#phone{
    color: white;
    text-decoration: none;
}

#linker{
    padding-left: 30px;
}

.items{
    display: table-cell;
    vertical-align: middle;
}

.snamfil{
    padding-left: 20px;
}

.project{ 
    border: none;
    background-color: rgb(230, 228, 228);
    border-radius: 10%;
    min-width: 100px; 
    min-height: 50px;
    font-family: 'Saira', sans-serif;
    transition: 0.3s;
    font-size: 20;
    margin-left: 5px;
    margin-right: 5px;
}

.project:hover{
   // color: blue($color: #005fdb);
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    
}

.content{
    font-family: 'Saira', sans-serif;
    
    //overflow-y: hidden;
    // overflow-y: scroll;
    // overflow-x: hidden;
    overflow: scroll;

    //scroll-behavior: auto;
    scroll-snap-type: both mandatory;
    -webkit-scroll-snap-type: mandatory;
    //display: flex;
    //flex-direction: column;
}

.content section{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    //scroll-snap-type: both mandatory;
    //scroll-snap-type: mandatory;
}



section.module.parallax{
    height: 100vh;//900px;//100%;
    //file:///Users/vishnubanna/CodingProjects/vishnubanna.github.io/src/purdue.jpeg
    width: 100%;
    //background-repeat: no-repeat;
    overflow-x: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-size: 100% 100%;//cover, contain;
}


section.module.parallax-4{
    background-image: url("https://vishnubanna.github.io/src/purdue.jpeg");
}

section.module.parallax-1{
    background-image: url("https://vishnubanna.github.io/src/purdue.jpeg");
}

section.module.parallax-2{
    background-image: url("https://vishnubanna.github.io/src/city.jpeg");
}

section.module.parallax-3{
    background-image: url("https://vishnubanna.github.io/src/exp.jpeg");
}

section.module.parallax-5{
    background-image: url("https://vishnubanna.github.io/src/city2.jpeg");
}
//file:///Users/vishnubanna/CodingProjects/vishnubanna.github.io/


.contexts{
    margin-top: 20%;
    background-color: rgba(256,256,256,1);
    //background-color: rgba(0,0,0,0.75);
    width: 100%;
    min-height: 60%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    //display: table;
    //scroll-snap-align: start;
}




.modal{
    display: none;
    background-color:rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
}

.modal-content{
    width: 60%;
    margin: 15% auto;
    background-color: rgba(230, 230, 230, 0.822);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.9s;
}

.modal-body{
    padding-left: 10px;
}

.modal-footer{
    padding-left: 10px;
}

.modal-header{
    padding-left: 10px;
}

.close{
    color: rgb(230, 230, 230);
    float: right;
    //top: 25px;
    //position: absolute;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

// #MriMod{
//     display: none;
// }

// #MriMod{
//     display: none;
// }

// #MriMod{
//     display: none;
// }

// #MriMod{
//     display: none;
// }

// #MriMod{
//     display: none;
// }


@media screen and (min-width: 900px){
    
    .sidebar{
        position: fixed;
        float: left;
        height: 100%;
        z-index: 10;// contol which elemnts are in fron which are in back
        width: $barwid;
    }

    .namecont{
        padding-left: $barwid + 20px;;
    }

    div.module.parallax{
        background-size: 100% 100%;
    }

    .contexts{
        padding-left: $barwid + 20px;
        //margin-left: $barwid - 15px;//+ 20px;
    }

    .content{
        float: none;
        //padding-left: $barwid + 20px;
    }

    .edu{
        margin-right: $barwid+$leftoff+0px;
        vertical-align: middle;
        //display: table-cell;
        //color: white;
    }
    
    .exp{
        margin-right: $barwid+$leftoff+0px;
        vertical-align: middle;
        //display: table-cell;
        //color: white;
    }
    
    .PP{
        margin-right: $barwid+$leftoff+0px;
        vertical-align: middle;
        //display: table-cell;
        //color: white;
    }
    
    .EC{
        margin-right: $barwid+$leftoff+0px;
        vertical-align: middle;
        //display: table-cell;
        //color: white;
    }
    
    .skills{
        margin-right: $barwid+$leftoff+0px;
        vertical-align: middle;
        //display: table-cell;
        //color: white;
    }
    .items{
        display: table-cell;
        vertical-align: middle;
    }
}

@media screen and (max-width: 900px){
    .sidebar{
        float: none;
        visibility: hidden;
        width: 0px;
        height: 0%;
    }

    .content{
        margin-left: 20px;
        width: 100%;
        min-height: 700px;
        margin-top: -200px;
    }

    .items{
        vertical-align: top;
    }

    .contexts{
        overflow: scroll;
    }

    div.module.parallax{
        background-size: contain;
    }
    .items{
        display: table-cell;
        vertical-align: top;
        padding-top: -500px;
    }
}

//compile me :: sass scss/styles.scss:styles/styles.css


@keyframes animatetop{
    from {top:-900px; opacity: 0}
    to {top:0; opacity: 1}
}